<div class="col text-center text-lg-start mb-4 mb-lg-0">
  <div class="bg-light p-4 rounded-4">
    <h6 class="date-title fw-bolder mb-2"><%= t('views.show.company_contact') %>:</h6>
    <div class="date-title fw-bolder mb-1"><%= @company.phone_number %></div>
    <div class="small fw-bolder mb-1"><%= @company.email %></div>
    <div class="small text-muted mb-1"><%= @company.address %></div>
    <div class="small text-muted">
        <%= @company.neighborhood %>, <%= @company.city %> - <%= @company.state %>, <%= @company.zipcode %>
    </div>
  </div>
</div>