<div class="col text-center text-lg-start mb-4 mb-lg-0">
  <div class="bg-light p-4 rounded-4">
    <h4 class="text-primary fw-bolder mb-0"><%= t('views.show.company_contact') %>:</h4>
    <div class="text-primary fw-bolder mb-2"><%= @company.phone_number %></div>
    <div class="small fw-bolder"><%= @company.email %></div>
    <div class="small text-muted"><%= @company.address %></div>
    <div class="small text-muted"><small><%= @company.neighborhood %>, <%= @company.city %> - <%= @company.state %>, <%= @company.zipcode %></small></div>
    <br />
  </div>
</div>