<div class="container mt-5">
  <% if owner_signed_in? && @order.owner.present? %>
    <h2 class="date-title fw-bolder mb-0">
      <%= t('views.index.message_client', name: @order.client.name) %>
    </h2>
  <% else %>
    <h2 class="date-title fw-bolder mb-0">
      <%= t('views.index.message_company', brand_name: @order.company.brand_name) %>
    </h2>
  <% end %>

  <% if @message && @message.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p><%= t('errors.messages.verify_error') %></p>
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="messages-list mt-4">
    <% if @messages.present? %>
      <% @messages.each do |message| %>
        <div class="card mb-2">
          <div class="card-body">
            <div class="small text-muted">
              <strong><%= message.sender.name %> (<%= t("activerecord.class_names.#{message.sender.class.name}") %>):</strong>
            </div>
            <p><%= message.body %></p>
            <div class="text-muted small"><%= l(message.created_at, format: :custom) %></div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p><%= t('views.index.no_messages') %></p>
    <% end %>
  </div>

  <div class="message-form mt-4">
    <h5><%= t('views.index.write_message') %></h5>
    <%= form_with model: [@order, Message.new], local: true, class: "row g-3" do |form| %>
      <%= form.hidden_field :order_id, value: @order.id %>
      <div class="form-group">
        <%= form.text_area :body, placeholder: t('views.index.write_here'), class: 'form-control custom-margin' %>
        <%= form.submit t('helpers.submit.send'), class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>

