<h2 class="event-title mb-4"><strong><%= t('views.approve.evaluate_order')%></strong></h2>
<%= render partial: 'order_details' %>
<p><strong><%= @order.date.strftime('%d/%m/%Y') %></strong><br></p>
<p><%= t('views.show.local') %>: <%= @order.local %></p>

<p><%= t('views.approve.total_price') %>: <%= @final_price %></p>

<%= form_with model: @order, url: approve_order_path(@order), method: :post , class: "row g-3" do |form| %>

  <div class="mb-3">
    <%= form.label :payment_method_id,
      t('views.show.select_payment_method_with_current', current_method: @order.payment_method.method || t('views.show.none')) %>
    <%= form.collection_select :payment_method_id, PaymentMethod.all, :id, :method,
      selected: @order.payment_method_id,
      prompt: t('views.show.select_payment_method_prompt') %>
  </div>

  <div class="col-4">
    <%= form.label :extra_charge, t('views.approve.extra_charge'), class: "form-label" %>:
    <%= form.text_field :extra_charge, class: "form-control"  %>
  </div>

  <div class="col-md-4">
    <%= form.label :discount, t('views.approve.discount'), class: "form-label" %>:
    <%= form.text_field :discount, class: "form-control" %>
  </div>

  <div class="col-md-8">
    <%= form.label :charge_description, t('views.approve.charge_description'), class: "form-label" %>:
    <%= form.text_area :charge_description, class: "form-control", rows: 4, cols: 50 %>
  </div>

  <div class="col-12">
    <%= form.submit t('views.approve.approve_order'), class: "btn btn-primary" %>
  </div>
<% end %>