<% if @approval&.errors&.any? %>
  <div class="alert alert-danger" role="alert">
    <p><%= t('errors.messages.verify_error') %></p>
    <ul>
      <% @approval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2 class="event-title mb-4"><strong><%= t('views.approve.evaluate_order')%></strong></h2>

<%= link_to t('views.index.see_messages'), order_messages_path(@order), class: "btn btn-primary" %>

<%= render partial: 'order_details' %>

<%= form_with model: @order, url: approve_order_path(@order), method: :post, local: true, class: "row g-3" do |form| %>

<div class="mb-3">
  <%= t('views.show.select_payment_method',
       current_method: @order.payment_method ? @order.payment_method.method : t('views.show.none')) %>
  <% if @company.payment_methods.exists? %>
    <%= form.collection_select :payment_method_id, @company.payment_methods, :id, :method, selected: @order.payment_method_id, id: 'order_payment_method_id'  %>
  <% end %>
</div>

  <div class="col-4">
    <%= form.label :extra_charge, t('views.approve.extra_charge'), class: "form-label" %>:
    <%= form.number_field :extra_charge, class: "form-control"  %>
  </div>

  <div class="col-md-4">
    <%= form.label :discount, t('views.approve.discount'), class: "form-label" %>:
    <%= form.number_field :discount, class: "form-control" %>
  </div>

  <div class="col-md-8">
    <%= form.label :charge_description, t('views.approve.charge_description'), class: "form-label" %>:
    <%= form.text_area :charge_description, class: "form-control", rows: 4, cols: 50 %>
  </div>
  <br>
  <div class="col-md-6">
    <%= form.label :validity_date, t('views.approve.validity_date'), class: "form-label" %>:
    <%= form.date_field :validity_date, class: "form-control" %>
  </div>

  <div class="col-12">
    <%= form.submit t('views.approve.send_approve'), class: "btn btn-primary" %>
  </div>
<% end %>

<hr />

<%= link_to t('helpers.buttons.back'), my_company_orders_path, class: "btn btn-secondary" %>