<h2 class="order-title mb-4"><strong><%= t('views.my_orders.my_orders') %></strong></h2>

<% if @company.orders.present? %>
  <div class="row">
    <% if @waiting_review_orders.present? %>
      <h5 class="order-title mb-2"><%= t('views.my_orders.waiting_review') %></h5>
      <% @waiting_review_orders.each do |order| %>
        <%= render 'order_card', order: order %>
      <% end %>
    <% else %>
      <p class="small text-muted"><%= t('views.my_orders.no_review_confirmation_orders') %></p>
    <% end %>
  </div>

  <hr />

  <% if @negotiating_orders.present? %>
    <h5 class="order-title mb-2"><%= t('views.my_orders.negotiating') %></h5>
    <% @negotiating_orders.each do |order| %>
      <%= render 'order_card', order: order %>
    <% end %>
  <% else %>
    <p class="small text-muted"><%= t('views.my_orders.no_confirmed_orders') %></p>
  <% end %>

  <hr />

  <% if @confirmed_orders.present? %>
    <h5 class="order-title mb-2"><%= t('views.my_orders.confirmed') %></h5>
    <% @confirmed_orders.each do |order| %>
      <%= render 'order_card', order: order %>
    <% end %>
  <% else %>
    <p class="small text-muted"><%= t('views.my_orders.no_confirmed_orders') %></p>
  <% end %>

  <hr />

  <% if @cancelled_orders.present? %>
    <h5 class="order-title mb-2"><%= t('views.my_orders.cancelled') %></h5>
    <% @cancelled_orders.each do |order| %>
      <%= render 'order_card', order: order %>
    <% end %>
  <% else %>
    <p class="small text-muted"><%= t('views.my_orders.no_cancelled_orders') %></p>
  <% end %>
<% else %>
  <p class="small text-muted"><%= t('views.my_orders.no_orders') %></p>
<% end %>

<hr />

<%= link_to t('helpers.buttons.back'), root_path, class: "btn btn-secondary" %>
