<h2 class="event-title mb-4"><strong><%= t('views.my_orders.my_orders')%></strong></h2>
<div class="row">
<% if current_client.orders.present? %>
  <% @orders.each do |order| %>
    <div class="col-md-6 mb-4">
      <div class="card shadow border-0 rounded-4">
        <div class="card-body custom-text-size">
          <h4 class="card-title event-title fw-bolder"><%= link_to order.code, order_path(order) %></h4>
          <p class="custom-text-size"><%= I18n.t("activerecord.attributes.order.status.#{order.status}") %></p>
                  <strong><%= order.date.strftime('%d/%m/%Y') %></strong><br>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p><%= t('views.my_orders.no_orders') %></p>
<% end %>
</div>
<hr />
<%= link_to t('helpers.buttons.back'), root_path, class: "btn btn-secondary" %>
