<h2 class="order-title mb-4"><strong><%= t('views.my_orders.my_orders') %></strong></h2>
<div class="row">
<% if current_client.orders.present? %>
  <% @orders.each do |order| %>
    <div class="col-md-4 mb-4">
      <div class="card shadow border-0 rounded-4">
        <div class="card-body custom-text-size text-center">
          <% badge_class = case order.status
                          when 'waiting_confirmation' then 'bg-warning'
                          when 'order_confirmed' then 'bg-success'
                          when 'order_cancelled' then 'bg-danger'
                          else 'bg-secondary'
                          end %>

          <div class="badge <%= badge_class %>">
            <%= I18n.t("activerecord.attributes.order.status.#{order.status}") %>
          </div>
          <h5 class="date-title">
            <strong><%= order.date.strftime('%d/%m/%Y') %></strong>
          </h5>
          <p class="date-title">
            <strong><%= order.event_type.name %></strong>
          </p>
          <%= link_to order.code, order_path(order), class: 'btn btn-outline-green mt-3' %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p><%= t('views.my_orders.no_orders') %></p>
<% end %>
<br>
</div>
<hr />
<%= link_to t('helpers.buttons.back'), root_path, class: "btn btn-secondary" %>
