<h2 class="event-title mb-4"><strong><%= t('views.show.event_types') %></strong></h2>
<div class="row">
  <% @company.event_types.each do |event| %>
    <div class="col-md-6 mb-4">
      <div class="card shadow border-0 rounded-4">
        <div class="card-header description-text">
          <h5 class="card-title event-title fw-bolder"><%= event.name %></h5>
          <%= event.description %>
        </div>
        <div class="card-body custom-text-size">
          <div class="row">
            <div class="col-md-12">
              <small>
                <% if event.on_site? %>
                  <div class="badge bg-primary">
                    <%= t('views.show.on_site') %>
                  </div>
                <% end %>
                <% if event.off_site? %>
                  <div class="badge bg-primary">
                    <%= t('views.show.off_site') %>
                  </div>
                <% end %>
                <% if event.any_site? %>
                  <div class="badge bg-primary">
                    <%= t('views.show.any_site') %>
                  </div>
                <% end %>
                <% if event.parking_service_available? %>
                  <div class="badge bg-primary">
                    <%= t('views.show.parking_service_available') %>
                  </div>
                <% end %>
                <% if event.decoration_available? %>
                  <div class="badge bg-primary">
                    <%= t('views.show.decoration_available') %>
                  </div>
                <% end %>
                <div class="mt-2">
                  <strong><%= t('views.show.attendees') %></strong>: <%= event.min_attendees %> - <%= event.max_attendees %><br>
                  <strong><%= t('views.show.duration') %></strong>: <%= event.duration %> <%= t('views.show.minutes') %><br>
                  <strong><%= t('views.show.menu') %></strong>: <%= event.menu_description %>
                </div>
              </small>
              <%= link_to t('views.show.see_prices') , event_type_event_pricings_path(event), class: 'btn btn-outline-rosa mt-3' %>
              <% if supplier_signed_in? && current_supplier == @company.supplier %>
                <%= link_to t('views.edit.edit_event'), edit_event_type_path(event), class: 'btn btn-outline-rosa mt-3' %>
                <% if event.event_pricings.count < 2 %>
                  <%= link_to t('views.show.new_price'), new_event_type_event_pricing_path(event), class: 'btn btn-outline-rosa mt-3' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
