<h2 class="event-title mb-4"><strong><%= t('views.show.event_types') %></strong></h2>
<div class="row">
  <% @company.event_types.each do |event| %>
    <div class="col-md-6 mb-4">
      <div class="card shadow border-0 rounded-4">
        <div class="card-header">
          <h5 class="card-title event-title fw-bolder"><%= event.name %></h5>
          <%= event.description %>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <p class="small">
                <small><strong><%= t('views.show.attendees') %></strong>: <%= event.min_attendees %> - <%= event.max_attendees %><br>
                <strong><%= t('views.show.duration') %></strong>: <%= event.duration %> <%= t('views.show.minutes') %><br>
                <strong><%= t('views.show.menu') %></strong>: <%= event.menu_description %><br>
                <br></small>
              </p>
                <%= link_to 'Ver Preços', event_pricing_path(event), class: 'btn btn-outline-rosa' %>
              <% if supplier_signed_in? && current_supplier == @company.supplier && event.event_pricings.count < 2 %>
                <%= link_to 'Novo Preço', new_event_type_event_pricing_path(event), class: 'btn btn-outline-rosa' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>