<h2 class="event-title mb-4"><strong><%= t('views.show.event_types') %></strong></h2>
<div class="row">
  <% event_types.each do |event| %>
    <div class="col-md-6 mb-4">
      <div class="card shadow border-0 rounded-4">
        <div class="card-header description-text">
          <h5 class="card-title event-title fw-bolder"><%= event.name %></h5>
          <% if owner_signed_in? && current_owner == @company.owner %>
            <% badge_class = case event.status
                                when 'active' then 'bg-primary'
                                when 'inactive' then 'bg-secondary'
                             end %>
            <div class="badge <%= badge_class %> gap-2 mt-2">
              <%= I18n.t("activerecord.attributes.event_type.status.#{event.status}") %>
            </div>
          <% end %>
          <p class="custom-text-size"><%= event.description %></p>
        </div>
        <div class="card-body custom-text-size text-center">
          <div class="row">
            <div class="col-md-12">
              <% first_photo = event.photos.first %>
              <% if first_photo %>
                <%= image_tag first_photo, class: 'event-image-sm' %>
              <% end %>
              <small>
                <% if event.on_site? %>
                  <div class="badge bg-primary">
                    <%= t('views.show.on_site') %>
                  </div>
                <% end %>
                <% if event.off_site? %>
                  <div class="badge bg-primary">
                    <%= t('views.show.off_site') %>
                  </div>
                <% end %>
                <% if event.any_site? %>
                  <div class="badge bg-primary">
                    <%= t('views.show.any_site') %>
                  </div>
                <% end %>
                <% if event.parking_service_available? %>
                  <div class="badge bg-primary">
                    <%= t('views.show.parking_service_available') %>
                  </div>
                <% end %>
                <% if event.decoration_available? %>
                  <div class="badge bg-primary">
                    <%= t('views.show.decoration_available') %>
                  </div>
                <% end %>
                <div class="mt-2">
                  <strong><%= t('views.show.attendees') %></strong>: <%= event.min_attendees %> - <%= event.max_attendees %> <%= t('views.show.people') %><br>
                  <strong><%= t('views.show.duration') %></strong>: <%= event.duration %> <%= t('views.show.minutes') %><br>
                </div>
              </small>
              <%= link_to t('views.show.details'), event_type_path(event), class: 'btn btn-outline-rosa mt-3' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

