<h4 class="text-primary fw-bolder mb-4 text-center"><%= t('views.search.results', query: @query_params) %></h4>

<% if @companies.empty? %>
    <p class="text-primary fw-bolder mb-4 text-center"><%= t('views.search.none_found') %></p>
<% else %>
  <div class="container px-2 px-lg-5 mt-5">
    <p class="text-primary fw-bolder mb-4 text-center"><%= t('views.search.count_companies', count_companies: @companies.count) %></p>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @companies.each do |company| %>
        <div class="col mb-5">
          <div class="card h-100">
            <% if company.event_types.any? %>
              <% first_photo = company.event_types.first.photos.first %>
              <% if first_photo %>
                <%= image_tag first_photo, class: 'event-image' %>
              <% end %>
            <% end %>
            <div class="card-body p-4">
              <div class="text-center">
                <p class="text-primary fw-bolder mb-0">
                  <%= link_to company.brand_name, company_path(company) %><br>
                  <div class="small text-muted"><small><%= "#{company.city}, #{company.state}" %></small></div>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
  <hr>
  <%= link_to t('helpers.buttons.back'), root_path, class: "btn btn-secondary" %>
</div>
