<div class="row gx-5 justify-content-center">
  <div class="col-lg-11 col-xl-9 col-xxl-8">
    <section>
      <div class="mb-4">
        <h2 class="text-primary fw-bolder mb-0"><%= @company.brand_name %></h2>
        <h3 class="small text-muted"><%= @company.registration_number %></h4>
        <% if owner_signed_in? && current_owner.company.present? && current_owner == @company.owner %>
          <h4 class="small text-muted"><%= @company.corporate_name %></h3>
          <div>
            <%= link_to t('views.show.create_event'), new_company_event_type_path(@company), class: "btn btn-primary" %>
            <%= link_to t('views.edit.edit_company'), edit_company_path(@company), class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
      <div class="card shadow border-0 rounded-4 mb-5">
        <div class="card-body p-5">
          <div class="row align-items-center gx-5">
            <div class="col text-center text-lg-start mb-4 mb-lg-0">
              <div class="bg-light p-4 rounded-4">
                <div class="text-primary fw-bolder mb-2"><%= @company.phone_number %></div>
                <div class="small fw-bolder"><%= @company.email %></div>
                <div class="small text-muted"><%= @company.address %></div>
                <div class="small text-muted"><small><%= @company.neighborhood %>, <%= @company.city %> - <%= @company.state %>, <%= @company.zipcode %></small></div>
                <br />
                <div class="small text-muted"><strong><%= t('views.new.payments_by') %></strong>:<br />
                  <%= @company.payment_methods.map(&:method).join(' | ') %>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div><%= @company.description %></div>
            </div>
          </div>
        </div>
      </div>
      <% if @company.event_types.any? %>
        <%= render partial: 'event_types', locals: { event_types: @event_types } %>
      <% else %>
        <%= t('views.show.no_events') %>
      <% end %>
      <hr />
      <%= link_to t('helpers.buttons.back'), root_path, class: "btn btn-secondary" %>
    </section>
  </div>
</div>