<h5><%= t('views.new.experience', brand_name: @order.company.brand_name) %></h5>
<p><%= t('views.new.score') %></p>

<% if @review.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= t('messages.verify_error') %></strong>
    <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [@order, @review], local: true do |form| %>
    <%= form.hidden_field :company_id, value: @company.id %>
    <div>
      <%= form.label :score %>
      <%= form.select :score, (1..5).to_a %>
    </div>
    <div>
      <%= form.label :text %>
      <%= form.text_area :text %>
    </div>
    <div>
      <%= form.submit t('helpers.submit.send_review'), class: "btn btn-primary" %>
    </div>
<% end %>